.ItemListContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ItemListContainer h1{
    color: white;
    background: #4E944F;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    cursor:default 
}

.material-symbols-outlined{
    font-size: 60px;
    color: #4E944F;
}
