.container{
  width: 100%;
  background: #4E944F;
}

.menu{
  background: #C3E5AE;
}

.container-title{
  margin-left: 0.5rem;
  padding-left: 5px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  flex-direction: row;
}

.container-title h1{
      font-size: 2rem;
      font-weight: 500;
      color: #ffffff;
  }



.categories{
  height: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none; 
}

.Option a{
  text-decoration: none;
  color: #e07924;
}
.categories-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.5rem 2.5rem;
  color: #64b2ff;
  font-family: sans-serif;
  cursor: pointer;
  transition: 0.5s all ease;
  text-decoration: none;
  list-style: none;
}

.Option {
  text-decoration: none;
  margin: 0 0px;
  width: auto;
  padding: 12px;
  font-size: 20px;
  flex: none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
}

.ActiveOption {
  text-decoration: none;
  margin: 0 25px;
  width: auto;
  padding: 12px;
  font-size: 20px;
  flex: none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
}

.NavLink {
  color :rgb(255, 0, 0)
}

.title{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  align-self: center;
}

